@media screen and (max-width:845px) {
    body{
        background-image:url(@mobileBg);
        background-position: center center;
    }
    .header{
        height: 55px;
        .nav{
            .smallmenu{
                display: block;
                &:hover + .menu{
                    display: block;



                }
            }
            .menu{
                position: absolute;
                right: 0;
                top: 55px;
                display: none;
                width: 200px;
                height: 700px;
                opacity: 1;
                overflow: hidden;
                


                li{

                    width: 100%;
                    height: auto;
                    background-color: rgba(255,255,255,0.2);


                    line-height: 50px;

                    padding: 0;
                    margin: 0;
                    a{
                        width: 100%;
                        height: auto;
                        background: rgba(255,255,255,0.2);
                        color: #aeaeae;



                    }
                }

            }

        }
    }
}
