
html,body{height:100%; margin: 0; padding: 0;}


body{
    margin: 0;
    background-image: url(@pcBg);
    background-repeat: no-repeat;
    background-position: center 0;
    .bgsize(cover);

}

.header{

    height: 100px;
    padding: 0 20px;
    background-image: none;
    background-color: rgba(255,255,255,0.1);
    h1{
        background-image: url(@logo);
        display: block;
        width: 104px;
        height:52px;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        left: 40px;
        top: px;

    }
    .nav{
        display: block;
        float: right;
        .menu{
            height: 100px;
            margin: 0;
            li{
                list-style: none;
                float: left;
                line-height: 100px;
                height: 100px;
                a{
                    color: #aeaeae;

                    padding: 0px 18px;
                    text-decoration: none;
                    font-family: '고딕';
                    font-weight: bold;
                    font-size: 16px;
                }
    }

        }

    }
}
