
html,body{height:100%; margin: 0; padding: 0;}


body{
    margin: 0;
    background-image: url(@pcBg);
    background-repeat: no-repeat;
    background-position: center 0;
    .bgsize(cover);
}
*{margin: 0; padding: 0;}

.header{
    height: 100px;
    padding: 0 20px;
    background-image: none;
    background-color: rgba(255,255,255,0.1);
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.1);
    transition: 3s;

    h1{ float: left;
        a{

             display:block;
             background-image: url(@logo);
             width:104px;
             height:52px;
             text-indent: -9999px;
             font-size:0;
             transition: 1s;
             margin: 25px;
             background-repeat: no-repeat;
             background-position: center;
             background-size: contain;
             &:hover{
                 transform: rotate(360deg);
             }
            }

    }
    .nav{

        float: right;

        .smallmenu{
            font-family: 'Oswald', sans-serif;
            font-size: 14px;
            display: none;
            height:55px;
            width:200px;
            background-color:#252525;
            margin-right: -20px;
            line-height: 55px;
            text-align: center;
            color:#FFF;
            text-decoration: none;
        }

        .menu{
            height: 100px;
            margin: 0;

            li{
                list-style: none;
                float: left;
                line-height: 100px;
                height: 100px;
                // cursor: pointer; 자식 영역에 display:block 처리 되면 안써도 됨. 접근성 때문에 height값을 줌.

                &:hover{
                    background-color:rgba(255, 255, 255,0.113725);


                }
                a{
                    display: block;
                    // /부모 영역만큼 커져서/
                    color: @text-color;
                    padding: 0px 18px;
                    text-decoration: none;
                    font-family: 'Oswald', sans-serif;
                    font-weight: bold;
                    font-size: 16px;
                    transition-delay: 0s;
                    transition-duration: .15s;
                    &:hover{
                        border-top: 3px solid #fff;

                    }
                }
    }

        }

    }
}
.mainlogo{


    .biglogo{
        position: absolute;
        top: 40%;
        right: 41%;
        width: 240px;
        height: 100px;
        background-image: url(@mainlogo);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-indent: -9999px;
        transition: 1s;
        &:hover{
                transform:scale(2);
                
            }
        }
    footer{
        height: 57px;
        width: 100%;
        background-image: url(http://sunmi.jype.com/images/footerbg.png);
        display: table;
        position: fixed;
        bottom: 0;
        text-align: right;
        transition: 1s;

        .jypicon{
            display: table-cell;
            padding-left: 50px;
            vertical-align: middle;
            transition: 3s;
            a{
                height: 45px;
                width: 115px;
                background-image: url(@jyplogo);
                background-repeat: no-repeat;
                background-size: contain;
                text-indent: -9999px;
                font-size: 0;
                display: block;


            }
        }

        .icon{
            transition: 1s;
            display: table-cell;
            vertical-align: middle;
            padding-right: 50px;
            a{
                text-decoration: none;
            }
            a[class^=flaticon]::before{
                transition: 1s;
                font-size: 30px;


            }






        }



    }


}
